@model InfraManagement.Models.Org

@{
    ViewBag.Title = "Create Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Account</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table cellpadding="5" cellspacing="5" class="table">
                    <tr>
                        <td>@Html.LabelFor(m => m.CompanyFullName)</td>
                        <td>@Html.TextBoxFor(m => m.CompanyFullName)</td>
                        <td>@Html.LabelFor(m => m.CompanyShortName)</td>
                        <td>@Html.TextBoxFor(m => m.CompanyShortName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.FirstNam)</td>
                        <td>@Html.TextBoxFor(m => m.FirstNam)</td>
                        <td>@Html.LabelFor(m => m.LastName)</td>
                        <td>@Html.TextBoxFor(m => m.LastName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.EmailAddress)</td>
                        <td>@Html.TextBoxFor(m => m.EmailAddress)</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <table class="table">
                    <tr>
                        <td colspan="4"><p>Credit Card Information</p></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.CCnumber)</td>
                        <td>@Html.TextBoxFor(m => m.CCnumber)</td>
                        <td>@Html.LabelFor(m => m.CCCVS)</td>
                        <td>@Html.TextBoxFor(m => m.CCCVS)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.CCExpMonth)</td>
                        <td>@Html.TextBoxFor(m => m.CCExpMonth)</td>
                        <td>@Html.LabelFor(m => m.CCExpYear)</td>
                        <td>@Html.TextBoxFor(m => m.CCExpYear)</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <table class="table">
                    <tr>
                        <td colspan="4"><p>Billing Address</p></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Address1)</td>
                        <td>@Html.TextBoxFor(m => m.Address1)</td>
                        <td>@Html.LabelFor(m => m.Address2)</td>
                        <td>@Html.TextBoxFor(m => m.Address2)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.City)</td>
                        <td>@Html.TextBoxFor(m => m.City)</td>
                        <td>@Html.LabelFor(m => m.State)</td>
                        <td>@Html.TextBoxFor(m => m.State)</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </div>
     </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
